header {
    img {
        width: 50px;
        height: auto;
    }

    .navbar-brand {
        font-size: 1.25rem;
        font-weight: bold;
        color: white;

        &:hover {
            color: #cccccc;
        }
    }

    .nav-link {
        color: white !important;
        font-size: 1rem;

        &:hover {
            color: #00bfff !important;
        }
    }

    .active {
        border-bottom: 2px solid #00bfff;
    }
}